@charset "UTF-8";

table.bbs {
    position: relative;
    width: 100%;
    margin: 35px 0 0;
    border-collapse: separate;
    border-top: 2px solid #333;
    border-bottom: 1px solid #333
}

table.bbs td, table.bbs th {
    border-top: 1px solid #e0e1e3;
    font-size: 18px;
    vertical-align: top
}

table.bbs thead th {
    font-weight: 700;
    padding: 11px 15px 12px
}

table.bbs tbody td {
    padding: 16px 15px 17px;
    font-weight: 300;
    text-align: center
}

table.bbs .text_left {
    text-align: left
}

table.bbs tbody tr:first-child td {
    border-top: 1px solid #333
}

table.bbs .attach {
    display: inline-block;
    background-image: url(../images/program.png);
    background-position: -371px -36px;
    width: 18px;
    height: 22px
}
