@charset "UTF-8";

/* 슬라이드 관련 스타일 유지 */
.slide-container {
	position: relative;
	display: flex;
	width: 300vw;
	transition: all 1s;
	transform: translateX(0);
}

.slide-box {
	width: 100vw;
	float: left;
}

.slide-box img {
	width: 100%;
}

.slide-button {
	position: absolute;
	/*	top: 30%;*/
	transform: translateY(-20%);
	background: rgba(0, 0, 0, 0.5);
	/* 배경색 추가 */
	border: 1px solid #fff;
	/* 테두리 스타일 및 색상 설정 */
	font-size: 40px;
	cursor: pointer;
	color: black;
	height: 30px;
	cursor: pointer;
	color: white;
	height: 40px;
	/* 높이 조정 */
	width: 40px;
	/* 너비 조정 */
	text-align: center;
	/* 텍스트 가운데 정렬 */
	line-height: 40px;
	/* 텍스트 수직 가운데 정렬 */
	border-radius: 10%;
	/* 원 모양의 모서리로 변경 */
}

.slide2-button {
	position: absolute;
	transform: translateY(100%);
	background: none;
	border: none;
	font-size: 70px;
	cursor: pointer;
	color: black;
}

.slide-button.left {
	left: 10%;
}

.slide-button.right {
	right: 10%;
}

.tex {
	display: flex;
	justify-content: center;
}

.img1text {
	display: flex;
	justify-content: center;
	font-weight: bold;
	font-size: 20px;
}

.img1 {
	width: 825px;
	height: 420px;
	margin-right: 50px;
	border-radius: 10px;
}

.img2 {
	width: 420px;
	height: 420px;
	border-radius: 10px;
}

.img21 {
	width: 420px;
	height: 420px;
	display: none;
}

.img31 {
	width: 420px;
	height: 420px;
	display: none;
}

.img21.active {
	display: block;
}

.img31.active {
	display: block;
}

.img3 {
	width: 260px;
	height: 140px;
	position: relative;
	top: 0;
	border-radius: 10px;
}

.test {
	display: flex;
	margin-left: 15.7%;
}

.img4 {
	width: 260px;
	height: 140px;
	position: relative;
	border-radius: 10px;
}

.img5 {
	width: 260px;
	height: 140px;
	position: relative;
	border-radius: 10px;
}

.card {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-right: 1.02%;
	border: 1px solid black;
	border-radius: 10px;
	width: 267px;
	height: 270px;
}

@font-face {
	font-family: 'GongGothicMedium';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

.card-text {
	/*
	card의 사진 아래의 text
	*/
	font-family: 'GongGothicMedium';
	text-align: center;
	flex-grow: 1;
	/* 내용에 따라 높이가 자동으로 조절 */
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 10px;
	padding: 3px;
}

.undermini {
	margin-left: 65%;
}

@font-face {
	font-family: 'HakgyoansimWoojuR';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/HakgyoansimWoojuR.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

.undermini a {
	font-family: 'HakgyoansimWoojuR';
}

.minibox {
	/*
	버튼 클릭시 넘어가는 사진 아래에 있는 문구
	*/
	border: 1px solid black;
	border-radius: 10px;
	display: inline-block;
	position: relative;
	bottom: 250px;
}

.minibox3 {
	border: 1px solid black;
	border-radius: 10px;
	display: inline-block;
	position: relative;
	bottom: 220px;
	margin-right: 30px;
}

.break-word {
        word-wrap: break-word; /* 긴 단어를 줄 바꿈하여 표시 */
}



.bigboard {
	width: 1290px;
	height: 400px;
	margin: 0 auto;
	border: 1px solid #ccc;
	border-radius: 10px;
	background-color: #E0F2F7;
}

.dtimg {
	/*
	첫번째,세번째 dt 말풍선 모양 이미지 ( 작은 삼각형)
	*/
	position: relative;
	left: 665px;
	bottom: 170px;
}

.dtimg2 {
	/*
	두번째,네번째 dt 말풍선 모양 이미지 ( 작은 삼각형)
	*/
	position: relative;
	bottom: 160px;
	left: 1035px;
}

.firstdt {
	/*
	첫번째 dt 
	*/
	background: #385693;
	width: 300px;
	height: 300px;
	border-radius: 30px;
	margin-left: 365px;
}

/*
	세번째 dt 
	*/
.second-instance {
	background-color: #8b9c1c;
}

.seconddt {
	/*
	두번째 dt 
	*/
	background: #59a193;
	width: 300px;
	height: 300px;
	border-radius: 30px;
	margin-left: auto;
	/* 화면 오른쪽에 배치 */
	margin-right: 380px;
}

.fourth-instance {
	background-color: #ef6d00;
}

.board {
	margin-left: 50px;
	margin-right: 10px;
	margin-top: 50px;
	margin-bottom: 50px;
	background-color: white;
	border-radius: 20px;
	height: 300px;
	width: 1200px;
	text-align: center;
}

.board li {
	
	list-style: circle;
}

@font-face {
	font-family: 'S-CoreDream-3Light';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

.board a {
	color: black;
	text-decoration: none;
	font-family: 'S-CoreDream-3Light';
	font-weight: 300;
}

.board a:hover {
	text-decoration: underline;
}

@font-face {
	font-family: 'GmarketSansMedium';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

.newq {
	/*
	new question 
	*/
	font-size: 25px;
	text-decoration: none !important;
	font-weight: bold !important;
	font-family: 'GmarketSansMedium' !important;
}

.newq2 {
	/*
	show all question 
	*/
	font-weight: bold !important;
	font-family: 'GmarketSansMedium' !important;
	font-size: 15px;
	text-align: right;
	cursor: pointer;
	border: 1px solid black;
	background-color: white;
}

.newq1 {
	font-weight: bold !important;
	font-family: 'GmarketSansMedium' !important;
	font-size: 15px;
	text-align: left;
	cursor: pointer;
	border: 1px solid black;
	background-color: white;
}

.newq2:hover {
	background-color: #D8D8D8;
}

.newq1:hover {
	background-color: #D8D8D8;
}

.fornewq2 {
	text-align: right;
	margin-right: 10%;
}

.dtTitle {
	font-size: 26px;
	line-height: 28px;
	margin: 5px 0 30px;
}

.dtKeyword {
	font-weight: 700;
	font-size: 42px;
	line-height: 46px;
	margin: 10px 0 0;
}

.dth2 {
	font-size: 14px;
	line-height: 50px;
	margin: 30px 0 5px;
}

.dta {
	display: block;
	position: absolute;
	top: 0;
	left: 50%;
	width: 25px;
	height: 25px;
	background: url(https://www.visitjeju.net/image/main/btn_plus.png) no-repeat;
	margin-left: -12px;
	text-indent: -9999px;
}

.plus-button {
	display: inline-block;
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 35px;
	border: 2px solid grey;
	/* 테두리 스타일 및 색상 설정 */
	text-decoration: none;
	/* 밑줄 제거 */
	color: #000;
	/* 플러스 모양 색상 설정 */
	font-size: 50px;
	/* 플러스 모양의 글꼴 크기 설정 */
	margin-top: 50px;
}

.plus-button:hover {

	background-color: #000;
	/* 마우스 호버 시 배경색 변경 */
	color: #fff;
	/* 플러스 모양 색상 변경 */

	background-color: #000; /* 마우스 호버 시 배경색 변경 */
	color: #fff; /* 플러스 모양 색상 변경 */
	text-decoration:none;

}

@font-face {
	font-family: 'SUITE-Regular';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}


/* 맞춤 여행 */
 
.mainh2 {
	font-family: 'SUITE-Regular';
	font-size: 35px;
    font-weight: 800;
    line-height: 1;
    margin-top: 100px;
}

.beforedt {
	font-family: 'SUITE-Regular';
	margin-top: 17px;
    font-size: 20px;
    color: #787878;
    line-height: 1;
}
.bwrap{
	width: 1290px;
    margin: 60px auto 0;
}
.swrap{
display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 -15px 40px;
    min-height: 100px;
    overflow: hidden;
}

.swrap dd, .swrap dt{
	width: 300px;
    margin: 15px 15px 0;
}
.swrap dt{
	color: #fff;
    text-align: center;
    border-radius: 15px;
    position: relative;
}
.swrap dt .stitle{
	font-family: 'SUITE-Regular';
	font-size: 14px;
    line-height: 40px;
    margin: 40px 0 5px;
}
.swrap dt .title{
	font-family: 'SUITE-Regular';
	font-size: 26px;
    line-height: 28px;
    margin: 5px 0 10px;
}
.swrap dt .keyword{
	font-family: 'SUITE-Regular';
	font-weight: 600;
    font-size: 42px;
    line-height: 46px;
    margin: 10px 0 0;
}
.firstwrap dt{
	background: #385693;
}
.firstwrap dt p.more{
	position: relative;
    margin: 20px 0 0;
}
.firstwrap dt p.more a{
	display: block;
    position: absolute;
    top: 0;
    left: 50%;
    width: 25px;
    height: 25px;
    background: url(https://www.visitjeju.net/image/main/btn_plus.png) no-repeat;
    margin-left: -12px;
    text-indent: -9999px;
}
.swrap dt:after{
	content: "";
    position: absolute;
    width: 10px;
    height: 17px;
    background-repeat: no-repeat;
    background-size: 10px 17px;
    margin-top: -9px;
}
.firstwrap dt:after{
	top: 50%;
    right: -10px;
    background-image: url(https://www.visitjeju.net/image/main/icon_blue.png);
}
.swrap .pic{
	border-radius: 15px 15px 0 0;
	background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.swrap dd img{
	width: 100%;
}
.swrap img{
	vertical-align: top;
}
.swrap dd .bottomwrap{
	border-left: 1px solid #d9d8d8;
    border-right: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
    border-radius: 0 0 15px 15px;
}
.swrap dd p.bottomtitle{
	display: table;
    table-layout: fixed;
}
.swrap dd p.bottomtitle span{
	display: table-cell;
    height: 90px;
    vertical-align: middle;
    text-align: center;
    width: 270px;
    padding: 0 10px;
    font-size: 18px;
    line-height: 20px;
    font-family: NanumSquare;
}
.swrap dd a:hover p.bottomtitle span {
	color: #ef6d00;
}
.swrap dd a{
		text-decoration: none;
}

.secondwrap dt{
	background: #7AB6A9;
}
.secondwrap dt:after{
	top: 50%;
    left: -10px;
    background-image: url(https://www.visitjeju.net/image/main/icon_emer.png);
}

.thirdwrap dt{
	background: #9EB21F;
}
.thirdwrap dt:after{
	top: 50%;
    right: -10px;
    background-image: url(https://www.visitjeju.net/image/main/icon_green.png);
}

.fourthwrap dt{
	background: #ef6d00;
}
.fourthwrap dt:after{
	top: 50%;
    left: -10px;
    background-image: url(https://www.visitjeju.net/image/main/icon_coral.png);
}


.dtCard {
	position: relative;
	width: 300px;
	height: 300px;
	border: 1px solid grey;
	border-radius: 20px;
	left: 140%;
	bottom: 282px;
	text-align: center
}

.dttcard {
	position: relative;
	width: 300px;
	height: 300px;
	border: 1px solid grey;
	border-radius: 20px;
	left: 280%;
	bottom: 584px;
	text-align: center
}

.dttcard3 {
	position: relative;
	width: 300px;
	height: 300px;
	border: 1px solid grey;
	border-radius: 20px;
	left: 280%;
	bottom: 489px;
	text-align: center;
	color: black;
	font-family: 'LINESeedKR-Bd';
}

.dttcard3 a {
	color: black;
}

.dttcard2 {
	position: relative;
	width: 300px;
	height: 300px;
	border: 1px solid grey;
	border-radius: 20px;
	text-align: center;
	bottom: 486px;
	right: 280.5%;
	color: black;
	font-family: 'LINESeedKR-Bd';
}

.dttcard2 a {
	color: black;
}

.dttcard4 {
	position: relative;
	width: 300px;
	height: 300px;
	border: 1px solid grey;
	border-radius: 20px;
	text-align: center;
	bottom: 489px;
	right: 280.5%;
	color: black;
	font-family: 'LINESeedKR-Bd';
}

.dtCard2 {
	position: relative;
	width: 300px;
	height: 300px;
	border: 1px solid grey;
	border-radius: 20px;
	right: 139.5%;
	bottom: 184px;
	text-align: center
}

.dtCard3 {
	position: relative;
	width: 300px;
	height: 300px;
	border: 1px solid grey;
	border-radius: 20px;
	left: 140%;
	bottom: 187px;
	text-align: center
}

.dtCard4 {
	position: relative;
	width: 300px;
	height: 300px;
	border: 1px solid grey;
	border-radius: 20px;
	right: 140%;
	bottom: 187px;
	text-align: center
}

.dtCard4 a {
	color: black;
	margin-top: 20px;
}

.dttcard4 a {
	color: black;
}

@font-face {
	font-family: 'LINESeedKR-Bd';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
}

.dtCard a {
	font-family: 'LINESeedKR-Bd';
	color: black;
}

.dttcard a {
	font-family: 'LINESeedKR-Bd';
	color: black;
}

.dtCard2 a {
	font-family: 'LINESeedKR-Bd';
	color: black;
}

.dtCard3 a {
	font-family: 'LINESeedKR-Bd';
	color: black;
}

.dtCard4 a {
	font-family: 'LINESeedKR-Bd';
	color: black;
}

.testimg1 {
	width: 298px;
	height: 190px;
	border-radius: 20px;
}

.texbtn {
	text-align: right;
	margin-right: 26%;
}

#showprev {
	position: absolute;
	right: 35%;
	/* 조절 가능한 왼쪽 위치 조정 */
	transform: translateY(-600%);
	background: rgba(0, 0, 0, 0.5);
	/* 배경색 추가 */
	border: 2px solid #fff;
	/* 테두리 스타일 및 색상 설정 */
	font-size: 40px;
	cursor: pointer;
	color: white;
	height: 40px;
	/* 높이 조정 */
	width: 40px;
	/* 너비 조정 */
	text-align: center;
	/* 텍스트 가운데 정렬 */
	line-height: 40px;
	/* 텍스트 수직 가운데 정렬 */
	border-radius: 50%;
	/* 원 모양의 모서리로 변경 */
	z-index: 2;
}

#shownext {
	position: absolute;
	right: 16.7%;
	/* 조절 가능한 왼쪽 위치 조정 */
	transform: translateY(-600%);
	background: rgba(0, 0, 0, 0.5);
	/* 배경색 추가 */
	border: 2px solid #fff;
	/* 테두리 스타일 및 색상 설정 */
	font-size: 44px;
	cursor: pointer;
	color: white;
	height: 40px;
	/* 높이 조정 */
	width: 40px;
	/* 너비 조정 */
	text-align: center;
	/* 텍스트 가운데 정렬 */
	line-height: 40px;
	/* 텍스트 수직 가운데 정렬 */
	border-radius: 50%;
	/* 원 모양의 모서리로 변경 */
	z-index: 2;
}

.carda {
	font-size: 20px;
	position: relative;
	top: 10%;
}

.carda:hover {
	color: #F7BE81;
}

.testimg1:hover .carda {
	color: #F5D0A9;
}

.reviewContents {
	background-color: #282828;
	border: 1px solid black;
	padding: 50px 0 70px;
	text-align: center;
	overflow: hidden;
}

.mainContents {
	width: 1290px;
	margin: 0 auto;
	min-height: 100px;
}

.rvh2 {
	color: white;
	font-size: 35px;
}

.rvh3 {
	margin-top: 20px;
	font-size: 20px;
	color: #8a8b8b;
	line-height: 1;
}

.reviewimg {
	height: 161px;
	width: 161px;
	border: 2px solid transparent;
	/* 기본적으로 투명 테두리 설정 */
}

.reviewimg:hover {
	border: 2px solid #5858FA;
	/* 원하는 테두리 스타일 및 두께 설정 */
}

.imgsdiv {
	height: 497px;
	width: 322px;
	background-color: #3c3c3c;
	float: left;
	margin-left: 3px;
	cursor: pointer;
	border: 2px solid transparent;
}

.imgsdiv2 {
	float: left;
	margin-left: 3px;
}

.reviewimg2 {
	height: 332px;
	width: 322px;
	border: 2px solid transparent;
}

.reviewimg2:hover {
	border: 2px solid #5858FA;
}

@font-face {
	font-family: 'S-CoreDream-3Light';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

.imgsdiv a {
	position: absolute;
	left: 35%;
	margin-top: 2%;
	color: white;
	font-family: 'S-CoreDream-3Light';
}

.rvimg {
	float: left;
	margin: 0;
	padding: 0;
}

.imgsdiv:hover {
	border: 2px solid #5858FA;
}

.lastimg {
	margin-right: 8%;
}

.lastcomment {
	display: inline-block;
	border: 1px solid grey;
	margin-top: 5%;
}

.lastcomment:hover {
	background-color: #A4A4A4;
	cursor: pointer;
}

.card:hover {
	border: 1px solid green;
}



/* header.jsp */

/* modal */

/* modal style */
html.modal-active,
body.modal-active {
	overflow: hidden;
}

#modal-container {
	position: fixed;
	left: 0;
	top: 0;
	display: table;
	height: 100%;
	width: 100%;
	z-index: 1050;
	/* hidden 처리 */
	transform: scale(0);
}

#modal-container .modal-background {
	display: table-cell;
	background: rgba(0, 0, 0, .8);
	text-align: center;
	vertical-align: middle;
}

#modal-container .modal-background .modal {
	background: #fff;
	padding: 50px;
	display: inline-block;
	border-radius: 3px;
	position: relative;
}

#modal-container .modal-background .modal h2 {
	font-size: 25px;
	line-height: 25px;
	margin-bottom: 15px;

}

#modal-container .modal-background .modal img {
	width: 1100px;
	height: 700px;
}


/*
 * ------------------------------
 * Unfolding Animation
 * ------------------------------
 */
#modal-container.one {
	/*transform: scaleX(0) scaleY(1);*/
	animation: unfoldIn 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container.one .modal-background .modal {
	/* 초기 display: none 처럼 크기를 0 으로 하여 보여주지 않음*/
	transform: scale(0);
	/* 0.5 초 동안 애니메이션을 실행, 단 0.8초 지연시켜 0.8초 후에 애니메이션을 실행 */
	animation: zoomIn .5s .8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container.one.out {
	transform: scale(1);
	animation: unfoldOut 1s .3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container.one.out .modal-background .modal {
	animation: zoomOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container.two {
	/*transform: scaleX(0) scaleY(1);*/
	animation: unfoldIn 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container.two .modal-background .modal {
	/* 초기 display: none 처럼 크기를 0 으로 하여 보여주지 않음*/
	transform: scale(0);
	/* 0.5 초 동안 애니메이션을 실행, 단 0.8초 지연시켜 0.8초 후에 애니메이션을 실행 */
	animation: zoomIn .5s .8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container.two.out {
	transform: scale(1);
	animation: unfoldOut 1s .3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container.two.out .modal-background .modal {
	animation: zoomOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container.three {
	/*transform: scaleX(0) scaleY(1);*/
	animation: unfoldIn 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container.three .modal-background .modal {
	/* 초기 display: none 처럼 크기를 0 으로 하여 보여주지 않음*/
	transform: scale(0);
	/* 0.5 초 동안 애니메이션을 실행, 단 0.8초 지연시켜 0.8초 후에 애니메이션을 실행 */
	animation: zoomIn .5s .8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container.three.out {
	transform: scale(1);
	animation: unfoldOut 1s .3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container.three.out .modal-background .modal {
	animation: zoomOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container.four {
	/*transform: scaleX(0) scaleY(1);*/
	animation: unfoldIn 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container.four .modal-background .modal {
	/* 초기 display: none 처럼 크기를 0 으로 하여 보여주지 않음*/
	transform: scale(0);
	/* 0.5 초 동안 애니메이션을 실행, 단 0.8초 지연시켜 0.8초 후에 애니메이션을 실행 */
	animation: zoomIn .5s .8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container.four.out {
	transform: scale(1);
	animation: unfoldOut 1s .3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container.four.out .modal-background .modal {
	animation: zoomOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

/* Dimmed showing */
@keyframes unfoldIn {
	0% {
		transform: scaleX(0) scaleY(0.005);
	}

	50% {
		/* 0.5 초간 세로 크기는 작은상태로 가로 너비만 확대  */
		transform: scaleX(1) scaleY(0.005);
	}

	100% {
		/* 0.5 초간 세로 크기를 확대 */
		transform: scaleY(1) scaleX(1);
	}
}

/* Show modal content  */
@keyframes zoomIn {
	from {
		transform: scale(0);
	}

	to {
		transform: scale(1);
	}
}

/* Hide modal content */
@keyframes zoomOut {
	from {
		transform: scale(1);
	}

	to {
		transform: scale(0);
	}
}

/* Dimmed hiding */
@keyframes unfoldOut {
	0% {
		transform: scale(1)
	}

	50% {
		transform: scaleX(1) scaleY(0.005);
	}

	100% {
		transform: scaleX(0) scaleY(0.005);
	}
}

/* modal end */


/* modal 2 */


/* update */

section.travelp{
	padding-bottom: 60px;
}
