@charset "UTF-8";

html,
body,
blockquote,
caption,
dl,
dd,
dt,
div,
fieldset,
form,
frame,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
iframe,
input,
legend,
li,
object,
ol,
p,
pre,
q,
select,
table,
textarea,
ul,
tr,
td,
button {
	margin: 0;
	padding: 0;
	font-family: "NanumSquare", "Nanum Gothic", "나눔고딕", "맑은 고딕", "Malgun Gothic", "Open Sans", "Dotum", "돋움", arial, sans-serif;
}

ol,
ul,
ul li {
	list-style: none
}

#container {
	min-height: 500px;
}

#wrap {
	position: relative;
	width: 100%;
	height: 100%;
	min-width: 1200px;
}

#content {
	margin: 0 auto;
	width: 1290px;
}

.location_wrap {
	position: unset;
}

.location_wrap {
	z-index: 2;
	height: 40px;
	width: auto;
	padding: 30px 0;
	margin: 0 0 60px;
	background: #fff;
	border-bottom: 1px solid #e5e5e5;
	border-top: 0;
}

.location_wrap .location {
	display: none;
}

.my_tour h3.mytourH3 {
	font-size: 35px;
	color: #1b1b1b;
	line-height: 75px;
	text-align: left;
	margin-bottom: 72px;
	padding-left: 5px;
	margin-top: -125px;
}


/* profile */
.myp-head .myp-inner {
	max-width: 1200px;
	margin: 0px auto;
	padding: 25px 0;
	overflow: hidden;
	width: 100%;
}

.myp-head .myp-profile {
	width: 20%;
	float: left;
}

.myp-head .myp-profile .profile-img {
	width: 160px;
	height: 160px;
	border-radius: 50%;
	overflow: hidden;
	/* margin-bottom: 20px; */
}

.myp-head .myp-profile .profile-img img {
	width: 100%;
	height: 100%;
}

.myp-head:after {
	display: block;
	content: '';
	width: 100%;
	height: 1px;
	clear: both;
}

.myp-head .myp-info {
	width: 80%;
	float: left;
}

.myp-head .myp-info .myTop {
	position: relative;
	/* border-bottom: 1px solid #0593d2; */
	padding-bottom: 15px;
	letter-spacing: -1px;
	margin-top: 13px;
}

.myp-head .myp-info .myTop .infoLV {
	font-size: 17px;
	color: black;
}

.myp-head .myp-info .myTop .infoLV .myN {
	font-size: 25px;
	/* color: #fff; */
	font-weight: 700;
	color: black;
}


.myp-head .myp-info .myBtm {
	padding-top: 20px;
}

.myp-head .myp-info .myBtm ul li:first-child {
	border-left: 0;
}

.myp-head .myp-info .myBtm ul li {
	display: inline-block;
	width: 19%;
	text-align: center;
	border-left: 1px solid rgb(255, 202, 166);
}

.myp-head .myp-info .myBtm ul li p {
	font-size: 17px;
	color: black;
}

.myp-head .myp-info .myBtm ul li em {
	display: block;
	font-size: 35px;
	font-weight: 300;
	font-style: normal;
	/* color: #fff; */
	padding-top: 5px;
}

/* 탭메뉴 */
/**
.tabmenu_wrap {
	display: block;
	margin-bottom: 40px;
	border-bottom: 1px solid #ddd;
-- 얘는 주석처리 padding-bottom: 40px;
	width: 100%;
}
*/

.innerwrap {
	max-width: 1300px;
	width: 100%;
	margin: 50px auto;
	overflow: hidden;
	word-wrap: break-word;
}

.tabStyle {
	overflow: hidden;
	border-left: 1px solid #ddd;
}

.tabStyle li.on,
.tabStyle li a.active {
	background: #ed6c0d;
	color: #fff;
}

.wid5 li {
	width: 20%;
}

.tabStyle li {
	display: inline-block;
	/* padding: 20px; */
	cursor: pointer;
	color: #0593d2;
	font-weight: 700;
	border: 1px solid #ed6c0d;
	/* margin-left: -1px; */
	border-right: 0;
}

.tabStyle li {
	float: left;
	text-align: center;
	box-sizing: border-box;
}

.tabStyle li:last-child {
	border-right: 1px solid #ed6c0d;
}

.tabStyle li.on a {
	color: #fff;
}

.tabStyle li a {
	padding: 20px;
	display: block;
	color: #000000;
	font-weight: 100;
}

a {
	text-decoration: none;
}

/* 본문 */
.line_wrap {
	display: block;
	margin-bottom: 40px;
	border-bottom: 1px solid #ddd;
	padding-bottom: 40px;
	width: 100%;
}

/* 추가헤더 */

