@charset "UTF-8";

.timeTable table {
	border: 3px solid #ffa458;
	width: 100%;
}

.timeTable tr {
	height: 60px;
	border-bottom: 1px solid black;
}

.timeTable td {
	text-align: center;
	border-bottom: 1px solid silver;
	border-right: 1px solid silver;
	border: 1px solid gray;
}

.timeTable thead td {
	color:white;
}

.timeTable thead span:nth-child(odd) {
	cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 100%; /* 초기 너비 설정 */
  max-width: 1000px; /* 최대 너비 설정 */
  overflow: auto; /* 추가: 내용이 넘칠 경우 스크롤 가능하도록 */
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover {
  color: black;
}

#content {
	padding: 0 0 150px;
}

.my_tour .my_tour_wrap {
	margin-top: 50px;
}

.my_tour .my_tour_wrap .wrap_tit_zone p {
	float: left;
}

.wrap_tit_zone .wrap_tit {
	font-size: 24px;
	font-weight: 800;
	color: #1b1b1b;
	line-height: 24px;
}

.wrap_tit_zone:after {
	display: block;
	content: "";
	clear: both;
}

.my_tour .my_tour_wrap .tour_list .item_section.add {
	-webkit-box-shadow: 3px 4px 5px 0 rgba(2, 2, 2, .2);
	box-shadow: 3px 4px 5px 0 rgba(2, 2, 2, .2);
}

.my_tour .my_tour_wrap .tour_list dl:nth-child(4n+1) {
	clear: left;
	margin-left: 0;
}

.my_tour .my_tour_wrap .tour_list .item_section {
	height: 210px;
	margin-top: 27px;
}

.item_section.add {
	width: 268px;
	height: 278px;
	border: 1px solid #ef6d00;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.item_section {
	float: left;
	position: relative;
	width: 270px;
	height: 280px;
	margin-left: 27px;
	background: #f6f6f6;
	text-align: center;
}

.clear:after {
	display: block;
	content: "";
	clear: both;
}

.my_tour .my_tour_wrap .tour_list .item_section.add dt {
	padding-top: 54px;
	font-size: 18px;
	line-height: 18px;
}

.item_section.add dt {
	padding-top: 54px;
	font-size: 24px;
	font-weight: 700;
	color: #ef6d00;
	line-height: 38px;
}

.my_tour .my_tour_wrap .tour_list .item_section.add .btn_add_schedule {
	width: 63px;
	height: 63px;
	margin: 20px auto 0;
	background-size: 100% 100%;
	padding-top: 0;
}

.my_tour .my_tour_wrap .tour_list .item_section.add a {
	display: block;
	height: 140px;
	padding-top: 70px;
}

.item_section.add .btn_add_schedule {
	display: block;
	width: 76px;
	height: 76px;
	margin: 18px auto 0;
	background: url(https://www.visitjeju.net/image/main/btn_add_schedule.png) no-repeat 0 0;
	text-indent: -9999px;
}


.paging {
	position: relative;
	text-align: center;
	padding-top: 70px
}

.paging .page-wrap {
	display: inline-block
}

.paging .page-wrap:after {
	display: block;
	content: "";
	clear: both
}

.paging .page-wrap a {
	display: inline-block;
	width: 30px;
	height: 30px;
	margin: 0 8px;
	vertical-align: middle;
	border: 1px solid #ccc;
	line-height: 30px;
	text-align: center;
	font-size: 14px
}

.paging .page-wrap a.page-first,
.paging .page-wrap a.page-last {
	margin: 0 3px
}

.paging .page-count {
	margin: 0 18px;
	display: inline-block
}

.paging a.current {
	color: #fff !important;
	font-weight: 700;
	border-color: #ef6d00;
	background-color: #ef6d00
}

.paging a:hover {
	color: #ef6d00;
	border-color: #ef6d00
}

.paging .btnL,
.paging .btnR {
	padding: 0;
	margin-top: -19px
}

.paging .btnL .btn {
	margin-right: 6px
}

.paging .btnR .btn {
	margin-left: 6px
}

.paging.center .page-wrap {
	position: absolute;
	left: 0;
	width: 100%
}

.spr_com {
	display: inline-block;
	background: url(https://www.visitjeju.net/image/common/spr_comm.png) no-repeat;
	text-indent: -999px;
	overflow: hidden;
	vertical-align: middle
}

.spr_com.page-next {
	background-position: -60px -100px;
	margin-left: 30px !important
}

.spr_com.page-last {
	background-position: -90px -100px
}

.spr_com.page-prev {
	background-position: -30px -100px;
	margin-right: 30px !important
}

.spr_com.page-first {
	background-position: 0 -100px
}

.my_tour .my_tour_wrap .wrap_tit_zone .wrap_sub_tit {
	padding-left: 15px;
}

/*
.mybut {
	display: none;
}*/

/* table */