
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    height: 100%;
}

.left-panel {
    flex: 1;
    background-color: #f2f2f2;
    padding: 20px;
}

.left-panel h1 {
    margin-top: 0;
}

.right-panel {
    flex: 1;
    background-color: #fff;
}

.travel-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}
.image-and-text {
    display: flex; /* Flexbox를 사용하여 이미지와 텍스트를 나란히 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
}

.image-and-text img {
    margin-right: 10px; /* 이미지와 텍스트 사이 간격 조절 */
    max-width: 100px; /* 이미지 최대 너비 설정 */
    height: auto; /* 이미지의 높이 자동 조정 */
}
.travel-card {
	background-color: white;
}