
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.container {
    min-width: 1000px; /* 최소 가로 크기를 지정 */
    min-height: 1200px; /* 최소 세로 크기를 지정 */
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    height: 100%;

}

.left-panel {
    flex: 1;
    padding: 20px;
    background-color: #f5f5f5;
    
}

.left-panel h1 {
    margin-top: 0;
}

.right-panel {
	min-width: 1000px;
    flex: 1;
    background-color: #fff;
   /* border-bottom: 1px solid black; */
}

.travel-card {
	width: 800px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px; 
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    background-color: white;
    cursor: pointer;

}
.image-and-text {
    display: flex; /* Flexbox를 사용하여 이미지와 텍스트를 나란히 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
}

.image-and-text img {
    margin-right: 10px; /* 이미지와 텍스트 사이 간격 조절 */
    max-width: 300px; /* 이미지 최대 너비 설정 */
    height: auto; /* 이미지의 높이 자동 조정 */
}
.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer; /* 마우스 커서를 손가락으로 변경하여 사용자에게 인식 */
}

.tooltip::before {
  content: attr(data-tooltip); /* 툴팁 내용을 속성에서 가져와 표시 */
  position: absolute;
  background-color: #333;
  width: 50px;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  display: none;
  z-index: 1; /* 다른 요소 위에 나타나도록 설정 */
  top: -35px; /* 툴팁의 위치 조정 */
  left: 50%; /* 가운데 정렬 */
  transform: translateX(-50%); /* 가운데 정렬 */
}

.tooltip:hover::before {
  display: block; /* 호버 상태에서 툴팁 표시 */
}
#map-container {
    position: relative; /* 기본 위치 설정 */
    overflow: hidden;
}
#map {
    position: absolute; /* 절대 위치 설정 */
}
 #pagestr {
	 border-radius: 5px;
	 width: 800px;
	 text-align:center;
	 font-size: 20px;
	 background-color: orange;
	 color: white;
 }
 .detail {
	 padding:10px;
	 text-align:center;
	 width:400px;
	 height:250px;
 }
 .detail_img {
	 width:400px;
	 height:200px
 }
 .detail_button {
	display: block; /* 인라인 요소를 블록 요소로 변경하여 가로로 늘립니다. */
	border: none;
    outline: none;
    background-color: #f0f0f0; /* 옅은 회색 배경 색상 */
 }
 .btndelete {
	 margin-left:430px;
 }
