@charset "UTF-8";
#wrapper {
	height: 100%;
	margin-top: 3%;
	margin-left: 6%;
}

#wrapper > h1 {
	font-size: 30px;
}

table {
	border: 3px solid #ffa458;
}

input[type='date']::before {
  content: attr(data-placeholder);
  width: 100%;
}

input[type='date']:focus::before,
input[type='date']:valid::before {
  display: none;
}

.travel_list {
	overflow-y: auto; /* 수평 스크롤을 생성하려면 "auto"로 설정 */
	scroll-behavior: smooth;
}

.travel_list ul {
	list-style: none;
	text-align:center;
}

.travel_list li {
	display: inline-block;
	margin-right:50px;
	cursor: pointer;
}

.travel_list .option li {
	display: inline-block;
	margin-right:20px;
	cursor: pointer;
}

td {
	text-align: center;
}

#page {
	text-align: center;
}

.a {
	cursor: pointer;
}

.strong {
	color:#ff5f2e;
	font-size:20px;
}

div {
	padding : 10px;
}

.travel_list {
	width:400px;
	height: 1000px;
	border: 3px solid #ffa458;
}

.timeTable tr {
	height: 50px;
	border-bottom: 1px solid black;
}

.timeTable td {
	border-bottom: 1px solid silver;
	border-right: 1px solid silver;
	border: 1px solid gray;
}

.timeTable thead td {
	color:white;
}

.select{
	color:#ff5f2e;
	font-weight:bold;
}
.select hr{
	border-color:#ff5f2e;
}

.listContent{
	display:flex;
	align-items: center;
}

.listContent img {
  width: 100px;
  height: 100px;
  margin-right: 10px; /* 이미지 오른쪽 여백 추가 */
}
.listContent .text {
  flex-grow: 1; /* 텍스트 영역이 남은 공간을 채우도록 설정 */
  line-height: 1;
}
.listContent hr {
  height: 1px; /* 원하는 높이로 설정 */
  background-color: gray; /* 원하는 색상으로 설정 */
  border: none; /* 테두리 제거 (선택 사항) */
}
.listContent button {
	height: 50px;
}
